$Dark_cyan: hsl(158, 36%, 37%);
$Cream: hsl(30, 38%, 92%);
$Very_dark_blue: hsl(212, 21%, 14%);
$Dark_grayish_blue: hsl(228, 12%, 48%);
$White: hsl(0, 0%, 100%);
$font_Montserrat: 'Montserrat',
sans-serif;
$font_Fraunces: 'Fraunces',
sans-serif;
* {
    margin: 0;
}

body {
    background-color: $Cream;
    font-size: 14px;
    color: $Dark_grayish_blue;
    display: grid;
    height: 100vh;
    place-items: center;
}

.wrapper {
    background-color: $White;
    border-radius: 10px;
    width: 92%;
    max-width: 600px;
    margin: auto;
    .image {
        background: url("../images/image-product-mobile.jpg");
        width: 100%;
        height: 240px;
        background-size: cover;
        border-radius: 10px 10px 0 0;
    }
    .content {
        padding: 27px 25px;
        padding-left: 24px;
        .category {
            font-family: $font_Montserrat;
            text-transform: uppercase;
            letter-spacing: 3.5px;
            line-height: 0;
        }
        .big_text {
            font-family: $font_Fraunces;
            font-size: 2.15em;
        }
        .name {
            margin-top: 20px;
            margin-bottom: 20px;
            color: $Very_dark_blue;
        }
        .description {
            font-family: $font_Montserrat;
            line-height: 1.5em;
            margin-bottom: 55px;
            font-weight: 500;
        }
        .price_wrapper {
            display: flex;
            align-items: center;
            gap: 25px;
            .price {
                color: $Dark_cyan;
                line-height: 0;
            }
            .original_price {
                text-decoration: line-through;
                color: $Dark_grayish_blue;
            }
        }
        button {
            width: 100%;
            padding: 16px 0;
            color: $White;
            background-color: $Dark_cyan;
            border: none;
            outline: none;
            border-radius: 10px;
            margin-top: 20px;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
        }
    }
}

@media screen and (min-width: 700px) {
    .wrapper {
        display: grid;
        grid-template-columns: 50% 50%;
        .image {
            height: 450px;
            border-radius: 10px 0 0 10px;
            background: url("../images/image-product-desktop.jpg");
            background-size: cover;
            background-position: center center;
        }
        .content {
            padding: 35px 32px 32px 32px;
            .name {
                margin-top: 27px;
                margin-bottom: 30px;
            }
            .description {
                margin-bottom: 38px;
            }
            button {
                margin-top: 30px;
            }
        }
    }
}